.logo {
	text-align: left;
	height: 50px;
}

.title{
	font-size: 100px;
}

.sub{
	font-size: 50px;
}

.article{
	height: 30px;
}

.toast {
	
	margin-top: 30px;
}

@media only screen and (max-width: 768px) {
  	.title{
		font-size: 70px;
		text-align: center;
	}

	.sub{
		font-size: 30px;
		text-align: center;
	}

	.logo {
		text-align: left;
		height: 30px;
	}

	.toast {
		align-content: center;
		margin-bottom: 10px;
	}
}